*{
  padding: 0;
  margin: 0;
}


/*Selektion entfernen*/
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: 'Roboto', sans-serif, 'Montserrat', sans-serif, 'Open Sans', sans-serif;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(left,#4A00E8, #01DF97);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3{
  font-weight: 400;
}
h4{
  font-weight: 400;
}
p{
  font-weight: 300;
}
  /*Ladefenster*/
  #ladebildschirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner-rotation 1s linear infinite;
  }
  
  @keyframes spinner-rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /*Header*/
header{
  background-color: #262626;
}

li{
  list-style: none;
}

a{
  color: #fff;
  text-decoration: none;
}

/*Navigation*/
.navbar{
  width: 100%;
  position: fixed;
  background-color: #262626;
  z-index: 1;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background-color: #262626c5;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  left: -50%;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 40%;
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
  background-color: #262626;
  top: 44px;
  border-radius:0 0 8px 8px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;

}

.dropdown-link {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 35px;
  width: 100%;
  gap: 200px;
}



.nav-branding{
  font-size: 2rem;
}

.dropdown-link{
  transition: transform 0.2s ease-in-out;
}

.dropdown-link:hover{
  transform: translateY(4px);
}

.nav-item{
  width: 80px;
  padding: 10px;
  border-radius: 1821px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;

}

.nav-item:hover{
 background-color: rgb(74, 0, 232);
}


.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/*media query für navigation*/
@media screen and (max-width: 768px){
.hamburger {
    display: block;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0; 
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
  position: fixed;
  left: -100%;
  top: 0px;
  height: 80vh;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  transition: 0.3s;
  justify-content: start;
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}

.navbar{
  z-index: 1;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding-top: 15px;
  top: 360px;
  
}


}


 /*Video Header*/
 #video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#video-container video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
 #video-container {
    height: 100vh;
    width: 100%;
  }

}




/*Über mich*/
.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 37px 5px rgba(0,0,0,0.23);
}

h3{
  
  margin-top: 20px;
  margin-bottom: 20px;
}

.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.card-image {
  width: 100px; /* Beispielwert - Passe dies entsprechend an */
  height: 100px; /* Beispielwert - Passe dies entsprechend an */
  object-fit: cover;
  border-radius: 50%; /* Kreisform */
  margin: 8px;
}

.card-content {
  margin-top: auto;
  margin-bottom: auto;
  width: 60%; 
  padding: 20px;
}

.card-title {
  margin-top: 0;
}

.card-description {
  color: #888;
}

.about-me {
  text-align: left;
  margin-top: 20px;
  width: 50%;
}

.about-me p{
  margin: 15px;
}

@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    width: 90%;
  }

  .card-content {
    width: 100%;
  }

  .about-me {
    width: 100%;
  }
}

/*Meine Fähigkeiten*/
.skills {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 24px;
  margin-bottom: 10%;
}

.skills-title {
  font-size: 16px;
  margin-top: 20px;
}

.skills-row {
  display: flex;
  justify-content: center;
}

.skills-content {
  flex: 1;
  padding: 0 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.skill-name {
  margin: 0;
}

.bars {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.cpp,
.html,
.css,
.powershell,
.flutter-dart {
  display: block;
  height: 100%;
  background-color: rgb(74, 0, 232);
  animation: fill-bar 1s forwards;
}

@keyframes fill-bar {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress);
  }
}



/*Meine Projekte*/

.project-box{
  box-shadow: 5px 1px 50px -1px rgba(0,0,0,0.26);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  padding: 30px;
}

h4{
text-align: center;
padding: 12px;
}

.project-image{
  width: 300px;
  height:300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 37px 5px rgba(0,0,0,0.23);
  display: flex; 
  flex-direction: column; 
  justify-content:center; 
  gap: 20px;
}

.project-title {
  padding-top: 20px;
  text-align: center;
}

.project-content{
  width:50%;
  margin: 15px;
}

.project-description{
  display: block;
  text-align: left;
  padding: 15px;
  font-weight: 300;
}

.programm-link{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #f9f9f9;
  background-color: #262626;
  width: 80px;
  margin-top: 20px;
  border-radius: 18px;
  padding: 8px;
  transition: 0.5s ease-in-out;
  margin-bottom: 20px;
}

.programm-link:hover{
  background-color: rgb(74, 0, 232);
  color: #f9f9f9;
}

@media screen and (max-width: 768px) {
  .project-box{
    
    width: 100%;
    
  }
  .project-container {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .project-image {
    margin-top: 20px;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
  }

  .project-content {
    width: 100%;
  }

  .project-description {
    margin: 10px 0;
  }
}

  
/*Fusszeile*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
  width: 100%;
}
.social-media {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 40px;
  margin: 0 5px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icon:hover {
  background-color: black;
  color: white;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 24px;
}

.linkedin-icon {
  background-color: #0077B5;
  padding: 8px;
  border-radius: 50%;
}

.github-icon {
  background-color: #262626;
  padding: 8px;
  border-radius: 50%;
}

