*{
  padding: 0;
  margin: 0;
}


/*Selektion entfernen*/
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: 'Roboto', sans-serif, 'Montserrat', sans-serif, 'Open Sans', sans-serif;
}

h1 {
  font-size: 72px;
  color: white;

}
.site-title{
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3{
  font-weight: 400;
}
h4{
  font-weight: 600;
}
p{
  font-weight: 300;
}


  /*Ladefenster*/
  #ladebildschirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease, visibility 1s ease;
  }
  
  #ladebildschirm.hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-image: linear-gradient(to right, #643CCC 0%, #FF3883 59%, #FF6D33 100%);
    border-image-slice: 1;
    border-radius: 50%;
    animation: spinner-rotation 1.5s linear infinite;
  }

  
  @keyframes spinner-rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  /*Header*/
header{
  background-color: #262626;
}

li{
  list-style: none;
}

a{
  color: #fff;
  text-decoration: none;
}

/*Navigation*/
.navbar {
  width: 100%;
  position: fixed;
  background-color: #262626;
  z-index: 1;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background-color: #262626c5;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  left: -50%;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Positionierung unter dem Auslöser */
  left: 27rem;
  width: 200px;
  background-color: #262626;
  border-radius: 0 0 8px 8px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 0;
  transition: background-color 0.3s ease;
}

.dropdown-link:hover {
  background-color: #333333;
}

.nav-branding {
  font-size: 2rem;
}

.dropdown-link {
  transition: transform 0.2s ease-in-out;
  border-radius: 26px;
  padding: 0.8rem;
  width: 60%;
  margin: auto;
}

.dropdown-link:hover {
  transform: translateY(4px);
}

.nav-item {
  width: 80px;
  padding: 10px;
  border-radius: 21px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  background-color: #333333;
  
}



.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/*media query für navigation*/
@media screen and (max-width: 768px){
.hamburger {
    display: block;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0; 
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
  position: fixed;
  left: -100%;
  top: 0px;
  padding-top: 5rem;
  height: 60vh;
  gap: 0.5rem;
  flex-direction: column;
  width: 100%;
  transition: 0.3s;
  justify-content: start;
  font-weight: 900;
  border-radius: 0 0 26px 26px;
  
  
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}

.navbar{
  z-index: 1;
}

.dropdown-link {
  
  padding: 1.3rem;
  
}


.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding-top: 1.5rem;
  top: 360px;
  
  
  
}


}


 /*Video Header*/
 #video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#video-container video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
 #video-container {
    height: 100vh;
    width: 100%;
  }

}




/*Über mich*/
.boxshadow{
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 37px 5px rgba(0,0,0,0.23);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-bottom: 20px;
  padding-top: 2rem;
  background-color: #f4f4f4;
  
}


.about-me-container {
  display: flex;
  flex-direction: row;
}

h3{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width: 50%;
  position: relative;
}


.card-image {
  width: 100px; /* Beispielwert - Passe dies entsprechend an */
  height: 100px; /* Beispielwert - Passe dies entsprechend an */
  object-fit: cover;
  border-radius: 50%; /* Kreisform */
  margin: 8px 8px 15px 8px;
}

.card-content {
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
   
}

.card-title {
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #643CCC 0%, #FF3883 59%, #FF6D33 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 15px;
}


.card-description {
  color: #888;
  bottom: 0;
}

.about-me {
  margin-top: auto;
  text-align: left;
  width: 80%;
  
}

.about-me p{
margin:auto;
padding: 20px 20px 0 20px;
}

.about-me-title{
  font-size: 25px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #643CCC 0%, #FF3883 59%, #FF6D33 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  text-align: justify;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.contact-form {
  position: relative;
  display: inline-block;
}




@media (max-width: 768px) {
  .boxshadow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }

  .card-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    
  }

  .about-me {
    width: 100%;
  }
  .card{
    align-self: flex-start;
    flex-direction: row;
    width: 100%;
    margin-left: 4%;
    margin-right: auto;
  }
}



/*Meine Fähigkeiten*/
.skills {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 24px;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.skills-title {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #643CCC 0%, #FF3883 59%, #FF6D33 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-row {
  display: flex;
  justify-content: center;
}

.skills-content {
  flex: 1;
  padding: 0 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.skill-name {
  margin: 0;
}

.bars {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.cpp,
.html,
.css,
.powershell,
.flutter-dart {
  display: block;
  height: 100%;
  background-color: rgb(74, 0, 232);
  animation: fill-bar 1s forwards;
}

@keyframes fill-bar {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress);
  }
}



/*Meine Projekte*/

.project-box{
  box-shadow: 5px 1px 50px -1px rgba(0,0,0,0.26);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
}




h4{
text-align: center;
padding: 12px;
}

.project-image{
  width: 300px;
  height:300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 37px 5px rgba(0,0,0,0.23);
  display: flex; 
  flex-direction: column; 
  justify-content:center; 
  gap: 20px;
  margin: 20px;
}

.project-title {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #643CCC 0%, #FF3883 59%, #FF6D33 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.project-content{
  width:50%;
  margin: 15px
}

.project-description{
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  padding-left: 15%;
  padding-right: 15%;
  
}

.programm-link{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #f9f9f9;
  background-color: #262626;
  width: 80px;
  margin-top: 20px;
  border-radius: 18px;
  padding: 8px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.programm-link:hover{
  background-color: rgb(74, 0, 232);
  color: #f9f9f9;
  transform: scale(1.1);
}

.project-container::after {
  content: "";
  position: absolute;
  left: 15%; /* Anpassen der Position (zentriert) */
  bottom: -1rem; /* Abstand von unten hinzufügen */
  width: 70%;
  height: 1px;
  background-color: black; /* Farbe der Linie anpassen */
}

@media screen and (max-width: 768px) {
  .project-box{
    
    width: 100%;
    
  }
  .project-container {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .project-image {
    margin: 40px;
    width: 50%;
    height: auto;
    
  }

  .project-content {
    width: 100%;
  }

  .project-description {
    margin: 10px 0;
    padding-left: 10%;
    padding-right: 10%;
  }
}

  
/*Fusszeile*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
  width: 100%;
}
.social-media {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 40px;
  margin: 0 5px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icon:hover {
  background-color: black;
  color: white;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 24px;
}

.linkedin-icon {
  background-color: #0077B5;
  padding: 8px;
  border-radius: 50%;
}

.github-icon {
  background-color: #262626;
  padding: 8px;
  border-radius: 50%;
  
}

